{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div>
    <h1>This is the Dashboard</h1>
</div>
<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#membershipModal">
        Join to become a member
    </button>

    <!-- Modal -->
    <div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/create_membership" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Amount</label>
                            <input type="number" name="amount" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div><br>
                        <div>
                            <select class="form-select" aria-label="Default select example" name="means">
                                <option selected>Means</option>
                                <option value="Mpesa">Mpesa</option>
                                <option value="Cash">Cash</option>
                                <option value="Card">Card</option>
                            </select>
                        </div><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div><br>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">
    Complete member profile
</button>

<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/member_profile" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Height</label>
                        <input type="number" class="form-control" name="height" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Weight</label>
                        <input type="number" class="form-control" name="weight" id="exampleInputPassword1">
                    </div>
                    <div>
                        <label for="">Gender</label>
                        <select class="form-select" name="gender" aria-label="Default select example">
                            <option selected>Select your Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="date_of_birth" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Goal</label>
                        <input type="text" class="form-control" name="goal" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<p>Height: {{member_info[2]}}</p>
<p>Weight: {{member_info[3]}}</p>
<p>Gender: {{member_info[4]}}</p>
<p>Date of birth: {{member_info[5]}}</p>
<p>Goal: {{member_info[6]}}</p>
<p>Trainer name: {{trainer_info[6]}} {{trainer_info[7]}} </p>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_profileModal" >
    Update member profile
</button>

<!-- Modal -->
<div class="modal fade" id="edit_profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/edit_profile" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Height</label>
                        <input type="number" class="form-control" name="height" value="{{member_info[2]}}"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Weight</label>
                        <input type="number" class="form-control" name="weight" value="{{member_info[3]}}"
                            id="exampleInputPassword1">
                    </div>
                    <div>
                        <label for="">Gender</label>
                        <input type="text" value="{{member_info[4]}}" name="gender">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="date_of_birth" value="{{member_info[5]}}"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Goal</label>
                        <input type="text" class="form-control" name="goal" value="{{member_info[6]}}"
                            id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<h1>Users</h1>
<table class="table" id="user_table">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Role</th>
            <th scope="col">actions</th>

        </tr>
    </thead>
    <tbody>
        
            {% for user in users %}
        <tr>
            <th scope="row">{{user[1]}}</th>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[5]}}</td>
            <td>{{user[6]}}</td>
            
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trainerModal" data-userid="{{ user[0] }}">
                    Make Trainer
                </button>
                {% endfor %}

                <!-- Modal -->
                <div class="modal fade" id="trainerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Make user a trainer</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            
                            <div class="modal-body">
                                <form action="/create_trainers" method="post">
                        
                                    <div>
                                    <input type="number" name="userid" id="userid" readonly>   
                                    </div>
                                
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Specialization</label>
                                        <input type="text" class="form-control" name="specialization"
                                            id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Bio</label>
                                        <input type="text" class="form-control" name="bio" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Years of
                                            experience</label>
                                        <input type="number" class="form-control" name="experience"
                                            id="exampleInputPassword1">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            
        </tr>
        
    </tbody>
</table>

 <script>
    const trainerModal = document.getElementById('trainerModal');
    trainerModal.addEventListener('show.bs.modal',function(event){
      const button = event.relatedTarget;
      const userid = button.getAttribute('data-userid');
      document.getElementById('userid').value = userid
    });
  </script>



{% endblock %}