{% extends 'base.html' %}
{% block title %}Trainers{% endblock %}
{% block content %}
<div>
  <h1>Trainers</h1>
</div>
<table class="table" id="trainer_table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Specialization</th>
      <th scope="col">Bio</th>
      <th scope="col">Years of experience</th>
      <th scope="col">Email address</th>
      <th scope="col">Phone number</th>
    </tr>
  </thead>
  <tbody>
    {% for trainer in trainers %}
    <tr>
      <td>{{trainer[6]}}</td>
      <td>{{trainer[7]}}</td>
      <td>{{trainer[2]}}</td>
      <td>{{trainer[3]}}</td>
      <td>{{trainer[4]}}</td>
      <td>{{trainer[8]}}</td>
      <td>{{trainer[10]}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<div class="row">
  {% for trainer in trainers%}
  <div class="col-sm-12 col-md-4 col-lg-3">
    
    <div class="card h-100" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{trainer[6]}} {{trainer[7]}}</h5>
        <p class="card-text">{{trainer[2]}}</p>
        <p class="card-text">{{trainer[3]}}</p>
        <p class="card-text">{{trainer[4]}}</p>
        
        <form action="/assign_trainer" method="post" id="assignmentform" data-trainerid="{{trainer[0]}}">
         <button type="submit" name="trainerid" value="{{trainer[0]}}">Choose</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}