{% extends 'base.html' %}
{% block title %}Trainers{% endblock %}
{% block content %}
<div>
    <h1>Trainers</h1>
</div>
<table class="table" id="trainer_table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Specialization</th>
      <th scope="col">Bio</th>
      <th scope="col">Years of experience</th>
      <th scope="col">Email address</th>
      <th scope="col">Phone number</th>
    </tr>
  </thead>
  <tbody>
    {% for trainer in trainers %}
    <tr>
      <td>{{trainer[6]}}</td>
      <td >{{trainer[7]}}</td>
      <td>{{trainer[2]}}</td>
      <td >{{trainer[3]}}</td>
      <td >{{trainer[4]}}</td>
      <td>{{trainer[8]}}</td>
      <td >{{trainer[10]}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endblock %}